<!DOCTYPE html>
<html>
<head>
    <%- include('partial/page-head.ejs', {title:'GV Dashboard'}) %>
</head>
<body page-main='main' page-panel-left='left-nav' page-topbar='topbar'>
    <header id='topbar'>
        <h5>Greenwich Village Delivery Service</h5>
    </header>
    <nav id='left-nav' class="side-nav align-center">
        <a href="/admin">admin</a>
    </nav>
    <main id='main'>
        <h5>This is the Dashboard</h5>
    </main>
</body>
</html>
