<!DOCTYPE html>
<html>
    <head>
        <%- include('partial/page-head.ejs', {title:'GV Home'}) %>
    </head>
    <body>
        <header id='topbar'>
            <div class='container flex-row align-center' spaced='0.5'>
                <h4>Greenwich Village Delivery Service</h4>
                <span class='grow-1'></span>
                <a class='btn btn-primary' href='/login'>Login</a>
                <a class='btn btn-outline-primary' href='/register'>Register</a>
            </div>
        </header>
        <main id='main' class='flex-col justify-center'>
            <div class='container flex-col align-center'>
                <h3>Welcome to the Greenwich Village Delivery Service!</h3>
                <div class='flex-col align-stretch' spaced='0.5' style='min-width:20%;'>
                    <a class='btn btn-primary' href='/login'>Login</a>
                    <a class='btn btn-outline-primary' href='/register'>Register</a>
                </div>
            </div>
        </main>
    </body>
</html>
