<!DOCTYPE html>
<html>
<head>
    <%- include('partial/page-head.ejs', {title:'GV Login'}) %>
</head>
<body page-main='main' page-topbar='topbar'>
    <header id='topbar'>
        <div class='container flex-row align-center'>
            <h4>Greenwich Village Delivery Service</h4>
            <span class='grow-1'></span>
            <a class='btn btn-outline-primary' href='/'><i class="fas fa-home"></i></a>
        </div>
    </header>
    <main id='main'>
        <div class="card login">
            <header>Login</header>
            <main>
                <form action="/login" method="post">
                    <section>
                        <div class="input-label-placeholder">
                            <% if (username) { %>
                                <input type="text" class="form-input" placeholder="Username" name="username" required value="<%= username %>">
                            <% } else { %>
                                <input type="text" class="form-input" placeholder="Username" name="username" required autofocus>
                            <% } %>
                            <label>Username</label>
                        </div>
                    </section>
                    <section>
                        <div class="input-label-placeholder">
                            <% if (username) { %>
                                <input type="password" class="form-input" placeholder="Password" name="password" required autofocus>
                            <% } else { %>
                                <input type="password" class="form-input" placeholder="Password" name="password" required>
                            <% } %>
                            <label>Password</label>
                        </div>
                    </section>
                    <section class='alert'><%= message %></section>
                    <button class="btn btn-primary btn-block" type='submit'>Login</button>
                </form>
                <div class="flex-col align-center text-small">
                    <a href="/register">Register an Account</a>
                </div>
            </main>
        </div>
    </main>
</body>
</html>


