<!DOCTYPE html>
<html>
<head>
    <%- include('partial/page-head.ejs', {title:'GV Login'}) %>
</head>
<body page-main='main' page-topbar='topbar'>
    <header id='topbar'>
        <h5>Greenwich Village Delivery Service</h5>
    </header>
    <main id='main'>
        <div class="card login">
            <header>Login</header>
            <main>
                <form>
                    <section>
                        <div class="input-label-placeholder">
                            <input type="email" class="form-input" placeholder="Email address" required autofocus>
                            <label>Email address</label>
                        </div>
                    </section>
                    <section>
                        <div class="input-label-placeholder">
                            <input type="password" class="form-input" placeholder="Password" required>
                            <label>Password</label>
                        </div>
                    </section>
                    <section>
                        <label class='checkbox'><input type="checkbox" value="remember-me">Remember Password</label>
                    </section>
                    <button class="btn btn-primary btn-block" type='submit'>Login</button>
                </form>
                <div class="flex-col align-center text-small">
                    <a href="#">Register an Account</a>
                </div>
            </main>
        </div>
    </main>
</body>
</html>


