
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-size:16px;
}

*,*::before,*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size:var(--font-size);
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

/* ========================================================[Tables]======================================================== */

table {
    margin:5px;
    border-spacing: 1;
    border-collapse: separate;
}

table[empty-message]:empty:before {
    content:attr(empty-message);
    display:table-caption;
    text-align:center;
    font-size:1.5em;
    padding: 0.8em 0.4em 0.4em 0.4em;
}

th,td {
    border: 1px solid #ddd;
    padding: 0.1em 0.4em;
}

th {
    background:rgba(0, 0, 0, 0.125);
}

tbody+tbody:before {
    content:'';
    display:table-row;
    height:10px;
}

td > pre {
    white-space:pre-line;
    margin:0px;
}

td.content-fill,th.content-fill {
    border-width:0px;
    padding:0px;
}
td.content-fill *, th.content-fill * {
    border-radius:inherit!important;
}

/* ========================================================[Element Tags]======================================================== */

button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
    -webkit-appearance: listbox;
}

/* ========================================================[Text]======================================================== */

.text-small {
    font-size: 80%;
    font-weight: 400;
}
.text-center {
    text-align: center !important;
}

/* ========================================================[Page-Header]======================================================== */

body>header {
    height: 3em;
    padding:0.2em 0.6em; 
    position:fixed;
    display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
    overflow: visible;
    border-width:1px;
    border-style:solid;
    border-color:transparent transparent rgba(0,0,0,0.2) transparent;
    box-shadow:none;
    color: rgb(93,107,108);
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    width:100%;
}
body>main {
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}
body>header+main {
    top:3em;
}
.container {
    width:75%;
    margin-left:auto;
    margin-right:auto;
}
body>header h1,
body>header h2,
body>header h3,
body>header h4,
body>header h5,
body>header h6 {
    margin:0px;
    align-self:center;
}

body>header .btn {
    align-self:center;
    padding-top: 0.175rem;
    padding-bottom: 0.175rem;
}

/* ========================================================[Flex]======================================================== */

.flex-col {
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    align-items:flex-start;
}
.flex-row {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    align-items:center;
}

.flex-col[spaced='0.25']>*+* { margin-top:0.25rem; }
.flex-row[spaced='0.25']>*+* { margin-left:0.25rem; }
.flex-col[spaced='0.5']>*+* { margin-top:0.5rem; }
.flex-row[spaced='0.5']>*+* { margin-left:0.5rem; }
.flex-col[spaced='0.75']>*+* { margin-top:0.75rem; }
.flex-row[spaced='0.75']>*+* { margin-left:0.75rem; }
.flex-col[spaced='1']>*+* { margin-top:1rem; }
.flex-row[spaced='1']>*+* { margin-left:1rem; }

.align-center {
    align-items:center!important;
}
.align-stretch {
    align-items: stretch!important;
}
.justify-end { justify-content:flex-end!important; }
.justify-start { justify-content:flex-start!important; }
.justify-center { justify-content:center!important; }
.justify-around { justify-content:space-around!important; }
.justify-between { justify-content:space-between!important; }
.justify-evenly { justify-content:space-evenly!important; }


.grow-1 { flex-grow:1; flex-shrink:1; }
.grow-2 { flex-grow:2; flex-shrink:2; }
.grow-3 { flex-grow:3; flex-shrink:3; }
.grow-4 { flex-grow:4; flex-shrink:4; }
.grow-5 { flex-grow:5; flex-shrink:5; }
.grow-6 { flex-grow:6; flex-shrink:6; }
.grow-7 { flex-grow:7; flex-shrink:7; }
.grow-8 { flex-grow:8; flex-shrink:8; }
.grow-9 { flex-grow:9; flex-shrink:9; }

/* ========================================================[card]======================================================== */

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.card.login {
    max-width: 25rem;
}
.card.signup {
    max-width:50rem;
}

.card > hr {
    margin-right: 0;
    margin-left: 0;
}

.card > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.card>main,main.card {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card>main>*+*,main.card>*+* {
    margin-top:1rem;
}

.card-title {
    margin-bottom: 0.75rem;
}

.card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-link:hover {
    text-decoration: none;
}
.card-link + .card-link {
    margin-left: 1.25rem;
}

.card>header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    color: inherit;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card>header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card>header + .list-group .list-group-item:first-child {
    border-top: 0;
}

.card>footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.card>footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

/* ========================================================[alert]======================================================== */

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    font-size:0.8rem;
}

.alert:empty {
    display:none;
}

/* ========================================================[form-group]======================================================== */

form>section {
    margin-bottom: 1rem;
}
form>section>* {
    margin-bottom: 0.5rem;
}
form>section>.flex-row>*+* {
    margin-left:0.5rem;
}
form>*:first-child {
    margin-top: 0px;
}

/* ========================================================[input-label-placeholder]======================================================== */

:root {
    --input-padding-x: 0.75rem;
    --input-padding-y: 0.75rem;
}
.input-label-placeholder {
    position: relative;
}
.input-label-placeholder > input,
.input-label-placeholder > label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
}
.input-label-placeholder > label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #777;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    pointer-events:none;
}
.input-label-placeholder input::placeholder {
    color: transparent;
}
.input-label-placeholder input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}
.input-label-placeholder input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
}

/* ========================================================[form-input]======================================================== */

.form-input,
.form-select {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form-input::-ms-expand,.form-select::-ms-expand {
    background-color: transparent;
    border: 0;
}
.form-input:focus,
.form-select:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.form-input::placeholder,.form-select::placeholder {
    color: #6c757d;
    opacity: 1;
}
.form-input:disabled,.form-select:disabled,.form-input[readonly],.form-select[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

.form-select:focus::-ms-value {
    color: #495057;
    background-color: #fff;
}

/* ========================================================[checkbox]======================================================== */

label.checkbox {
    display:inline-flex;
    flex-flow:row nowrap;
    align-items:center;
    justify-content: flex-start;
    padding: 0.5rem;
}
label.checkbox>*:first-child {
    margin-right:0.5rem;
}

/* ========================================================[a]======================================================== */

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #0056b3;
    text-decoration: underline;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
    outline: 0;
}