<div class='flex-row align-center justify-center'>
    <div class='flex-col align-center justify-center'>
        <svg width='234' height='191'>
            <use href='icons.svg#sadface404' width='100%' height='100%'></use>
        </svg>
    </div>
    <div class='flex-col align-left justify-center' style='margin-left:3rem;'>
        <h1 style='margin-bottom:1rem;'>Error 404</h1>
        <h2 style='margin-top:0;font-weight:normal;'>Page Not Found</h2>
    </div>
</div>