<% if (title) { %>
    <title><%= title %></title>
<% } else { %>
    <title>GV Delivery</title>
<% } %>
<link rel='icon shortcut' href='/favicon.ico'/>
<link rel="stylesheet" type="text/css" href="/fontawesome/fontawesome.css"/>
<link rel="stylesheet" type="text/css" href="/page/page.css"/>
<script type="text/javascript" src="/page/page.js"></script>
<link rel="stylesheet" type="text/css" href="/style.css"/>
<link rel="stylesheet" type="text/css" href="/btn.css"/>
